.cards-card {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  background: none;
  color: #333;
  border: none;
  cursor: pointer;
  font-size: 20px; /* Increased font size */
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-menu.active {
  display: block;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 18px; /* Increased font size */
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .cards-card {
    flex-direction: column;
    align-items: center;
  }
  
  .dropdown {
    margin-bottom: 20px;
  }
}
