/* position: relative;
  width: 100%;
  padding: 0;
  overflow: hidden; */
  *{
    font-family: "Poppins", sans-serif;
}

  .idea h1{
    text-align: center;
    font-size: 3rem;
    color: #fff;
    margin: 2rem;
  }
  
  .ideas-ideas img {
    width: 70%;
    margin: 10rem;
}

 .heading-idea{
    color: #fff;
    font-size: 30px;
    margin: 2rem;
    font-weight: 600;
 }

 .para-idea{
    color:  #222;
    font-size: 20px;
    margin: 2rem;
 }

 @media screen and (min-width: 320px) {
    .idea h1 {
        font-size: 3rem; 
    }

    .ideas-ideas img {
        width: 70%;
        margin: 2rem;
    }

    .heading-idea {
        font-size: 26px;
    }

    .para-idea {
        font-size: 18px; 
    }
}